.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
* {
font-family: 'Rock Salt', cursive;}
body {
  background-color: #c7d7c3;
}
#kittybanner {
  background-color: #69a0cd;
  border: ;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: .5em;
}
h2 {
  text-align: center;
  font-size: 2em;
  margin-top: .5em;
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

 .box-1 {
    width: 100%;
    height: 13em;
    margin-bottom: 3em;
    border-radius: 4em;
}
  .box-6 {
    width: 5%;
    height: 10em;
    font-size: 2em;
    text-align: right;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    font-color: #94abcd;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    -moz-animation-name: blinker;
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

 .box-2 {
    width: 30%;
    height: 20em;
    text-align: right;
}

 .box-3 {
    width: 25%;
    height: 20em;
    text-align: center;
}

 .box-4 {
    width: 30%;
    height: 20em;
    text-align: left;
}
.box-7 {
    width: 5%;
    height: 10em;
    text-align: left;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-color: #d78dbf;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    -moz-animation-name: blinker;
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
#kittyOneResults {

}
.box-5 {
    width: 30%;
    height: 9em;
    text-align: center;
    vertical-align: center;
    justify-content: center;
}
#kittyTwoResults {

}
form {
  margin-top: 6em;
}
button {
  text-transform: bold;
  border-radius: 1em;
  background-color: #d78dbf;


}
#vote1 {
  margin-right: 3em;
}
#vote2 {
  margin-left: 3em;

}
.hover1 {
  border-radius: 1em;
  box-shadow: 10px 5px 5px #94abcd;
}
.hover1:hover {
  box-shadow: 10px 5px 5px #94abcd;
  border: .8em solid #94abcd;
  ;
}
.hover2 {
  border-radius: 1em;
  box-shadow: 10px 5px 5px #d78dbf;
}
.hover2:hover {
  box-shadow: 10px 5px 5px #d78dbf;
  border: .8em solid #d78dbf;
}
canvas {
  margin-top: 3em;
}

